<div id=title>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex qui nam velit temporibus voluptas, corporis nihil, dignissimos quis hic vel sapiente iste amet illo nostrum! Inventore sed optio unde dolor quae quia, eligendi facere omnis eveniet ad. Exercitationem
        nesciunt, veritatis omnis cupiditate dolore sed voluptatum vitae sit impedit assumenda. Quos cumque sequi reiciendis totam sunt, odio possimus odit nesciunt aperiam voluptas tenetur tempore atque molestiae, quisquam obcaecati sed ut dignissimos,
        consequuntur beatae aspernatur laborum suscipit deserunt temporibus! Expedita non omnis obcaecati consectetur eligendi temporibus? Aspernatur nulla praesentium accusamus laborum rerum et, eligendi quisquam ab, fuga distinctio debitis cumque temporibus
        natus?
    </p>
</article>