    @font-face {
        font-family: "yanone";
        src: url('../fonts/YanoneKaffeesatz-Light.ttf');
    }
    
    @font-face {
        font-family: "finger";
        src: url('../fonts/FingerPaint-Regular.ttf');
    }
    
    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        font-family: yanone, Arial, Helvetica;
        font-size: 20px;
        background-image: url('../img/pattern.jfif');
        background-attachment: fixed;
    }
    
    .clearfix {
        float: none;
        clear: both;
    }
    
    header {
        width: 100%;
        height: 90px;
        background: rgba(53, 103, 164, 0.8);
        position: fixed;
        display: block;
        text-transform: uppercase;
    }
    
    header ul {
        display: block;
        width: 50%;
        height: inherit;
        margin: 0px auto;
    }
    
    header ul li {
        display: inline-block;
        margin: 0px auto;
        text-align: center;
        line-height: 90px;
    }
    
    header a {
        display: block;
        padding-right: 20px;
        padding-left: 20px;
        height: inherit;
        text-decoration: none;
        color: white;
        transition: all 300ms;
    }
    
    header a:hover,
    .router-link-active {
        background: rgba(0, 0, 0, 0.8);
    }
    
    #logo {
        font-family: finger;
        font-size: 30px;
    }
    
    #logo a {
        line-height: 35px;
        text-align: center;
        transition: color 500ms, transform 500ms;
    }
    
    header #logo a:hover {
        background: transparent;
        cursor: default;
        color: black;
        transform: scale(1.3);
    }
    
    #content {
        min-height: 700px;
        width: 75%;
        margin: 0 auto;
        box-shadow: 0px 0px 40px black;
        background: rgba(255, 255, 255, 0.7);
        padding-top: 120px;
        border-left: 1px #b7b7b7;
        border-right: 1px #b7b7b7;
    }
    
    footer {
        width: 75%;
        margin: 0px auto;
        height: 20px;
        display: block;
        text-transform: uppercase;
        padding-top: 15px;
        color: rgba(0, 0, 0, 0.5);
    }
    
    #title {
        width: 70%;
        margin: 0px auto;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    
    #title h1 {
        font-family: 'finger';
        font-size: 60px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
    }
    
    #title h2 {
        font-size: 25px;
        color: gray;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    article.about {
        width: 70%;
        margin: 0px auto;
        font-size: 23px;
        color: gray;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    .about h2 {
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    
    .about p {
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: justify;
    }
    
    .container {
        padding: 10px 50px;
        margin: 0 auto;
        width: 70%;
    }
    
    .container h2 {
        padding-top: 20px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
    }
    
    form {
        width: 80%;
    }
    
    form label {
        display: block;
        width: 100%;
        margin-top: 5px;
    }
    
    form input[type="text"],
    form input[type="number"],
    form input[type="email"],
    form input[type="textarea"] {
        width: 40%;
        padding: 5px;
        margin-bottom: 5px;
    }
    
    form button,
    form input[type="submit"] {
        font-size: 17px;
        display: block;
        padding: 10px;
        margin-top: 15px;
        color: white;
        background-color: rgba(53, 103, 164, 1);
        border-color: rgb(11, 36, 66);
        cursor: pointer;
    }
    
    form button:hover,
    form input[type="submit"]:hover {
        background-color: rgb(86, 146, 219);
    }
    
    form input[disabled],
    form input[disabled]:hover {
        background-color: grey;
        cursor: not-allowed;
    }
    
    .formError {
        color: white;
        padding: 3px;
        font-size: 13px;
        background-color: red;
        margin-left: 5px;
    }
    
    .message {
        padding: 5px;
        border: 1px solid #EEE;
        width: 70%;
    }
    
    .success {
        color: white;
        background-color: green;
    }
    
    .failed {
        color: white;
        background-color: red;
    }